@using TomocaMoviesWebsite.Models
@model IEnumerable<TomocaMoviesWebsite.Models.New>

@{
    ViewBag.Title = "MoviesNews";
    Layout = "~/Views/Shared/Tomoca_Layout.cshtml";
    TomocaMoviesDataContext db = new TomocaMoviesDataContext();
    var news = db.News.OrderByDescending(a => a.CreateTime).Take(9).ToList();
}

@section scriptsduoi{
    <script src="~/Scripts/script-news1.js"></script>
}

@section css{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style-lastnew.css" rel="stylesheet" />
}

@{var dk = 1; }
<!-- Cover -->
<div class="cover">
    <div class="slideshow-container">

        <div class="mySlides fadee">
            <img src="~/Content/image_news/Carousel_OscarWins.jpg" style="width:100%">
        </div>

        <div class="mySlides fadee">
            <img src="~/Content/image_news/Carousel_SummerMoviePreviewA.jpg" style="width:100%">
        </div>

        <div class="mySlides fadee">
            <img src="~/Content/image_news/SB_JodieFoster.jpg" style="width:100%">
        </div>

        <div class="mySlides fadee">
            <img src="~/Content/image_news/hero_HP_ThisWeekinMovieNews_Greenland.jpg" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>
</div>
<!-- Project Grid -->
<div class="project-grid">
    <div>
        <button onclick="location.href='/Tomoca/MoviesLatestNews'" class="lastnews-btn animate__animated animate__backInLeft" id="lastnews-btn" onclick="eventbtLastestNews()">LATEST NEWS</button>
        <button onclick="location.href='/Tomoca/MoviesHotNews'" class="topnews-btn animate__animated animate__backInRight" id="topnews-btn" onclick="eventbtTopNews()">TOP NEWS</button>
    </div>

    <div class="container" id="container">
        @foreach (var item in news)
        {
            if (dk == 1)
            {
                <div class="grid-zone main-news animate__animated animate__fadeIn" id="main-news">
                    <div class="pic1-zone">
                        <img class="mainnews-img" id="mainnews-img" src="@item.Photo">
                    </div>
                    <div class="pic1-zone">
                        @Html.ActionLink(@item.Title, "NewsDetail" + "/" + @item.NewsID, "", new { @class = "title" })
                        <p class="content" id="content">@item.Content1</p>
                    </div>
                </div>
            }
            else
            {
                <div class="grid-zone animate__animated animate__fadeIn">
                    <img class="news-img" src="@item.Photo">
                    @Html.ActionLink(@item.Title, "NewsDetail" + "/" + @item.NewsID, "", new { @class = "title" })
                </div>
            }
            dk++;
        }

    </div>
    <div>
        <button class="load-more">LOAD MORE</button>
    </div>
</div>

<!--end content Html.Partial("login")-->
@Html.Partial("Login")