@model IEnumerable<TomocaMoviesWebsite.Models.New>
@{
    ViewBag.Title = "MoviesHotNews";
    Layout = "~/Views/Shared/Tomoca_Layout.cshtml";
}

@section scriptsduoi{
    <script src="~/Scripts/script-news2.js"></script>
}

@section css{
    <link href="~/Content/style-newhot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<!-- Cover -->
<div class="cover" style="background-color: #E5E5E5;">
    <div class="slideshow-container">

        <div class="mySlides fadee">
            <img src="~/Content/image_news/Carousel_OscarWins.jpg" style="width:100%">
        </div>

        <div class="mySlides fadee">
            <img src="~/Content/image_news/Carousel_SummerMoviePreviewA.jpg" style="width:100%">
        </div>

        <div class="mySlides fadee">
            <img src="~/Content/image_news/SB_JodieFoster.jpg" style="width:100%">
        </div>

        <div class="mySlides fadee">
            <img src="~/Content/image_news/hero_HP_ThisWeekinMovieNews_Greenland.jpg" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>
</div>
<!-- Project Grid -->
<div class="project-grid" style="background-color: #E5E5E5;">
    <div>
        <button onclick="location.href='/Tomoca/MoviesLatestNews'" class="lastnews-btn animate__animated animate__backInLeft" id="lastnews-btn" onclick="eventbtLastestNews()">LATEST NEWS</button>
        <button onclick="location.href='/Tomoca/MoviesHotNews'" class="topnews-btn animate__animated animate__backInRight" id="topnews-btn" onclick="eventbtTopNews()">TOP NEWS</button>
    </div>
    <div class="container" id="container">
        @foreach (var item in Model)
        {
            <div class="grid-zone animate__animated animate__flipInX">
                <img class="news-img" src="@item.Photo" />
                <span class="title">@Html.ActionLink(@item.Title, "NewsDetail" + "/" + @item.NewsID)</span>
            </div>
        }
    </div>
    <div>
        <button class="load-more">LOAD MORE</button>
    </div>
</div>
<!--end content Html.Partial("login")-->
@Html.Partial("Login")
