@model IEnumerable<TomocaMoviesWebsite.Models.MiAnLien>
@using TomocaMoviesWebsite.Models
@{
    ViewBag.Title = "TicketBook";
    Layout = "~/Views/Shared/Tomoca_Layout.cshtml";
    TomocaMoviesDataContext db = new TomocaMoviesDataContext();
    int Day = DateTime.Now.Day;
    var listMoviesDay = db.MiAnLiens.Where(x => x.MovieID > Day);
    var lstcity = ViewData["lstcity"] as IList<City>;

}
@section css{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/choose-seats.css" rel="stylesheet" />
    <link href="~/Content/tiecketsieucapvippro.css" rel="stylesheet" />
}
<style>
    body {
        background-color: #E5E5E5;
    }

    .thoigianbatdau:hover {
        cursor: pointer;
        background: #FF7300 !important;
    }
    #mso01{
        display: none;
    }
</style>
@section scriptstren{
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}
@section scriptsduoi{
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ticket.js"></script>
    <script src="~/Scripts/loginsignup.js"></script>
    <script src="~/Scripts/choose-seats.js"></script>
}
<style>
    .textboxx {
        display: none;
    }

    .ticket:hover {
        text-decoration: none;
    }
</style>
@{
    DateTime d = DateTime.Now;
    var month = DateTime.Now.ToString("MMMM");
    var day = d.Day;
    var dm = 0;
    var dm1 = 0;
}
<div class="ticket-top">
    @for (int i = 1; i < 12; i++)
    {
        if (i == 1)
        {
            var dayy = DateTime.Today.AddDays(dm);
            string dayte = dayy.ToString("dd-MM-yyyy");
            string strday = dayy.ToString("dd");
            int daysd = int.Parse(dayy.ToString("ddMM"));
            string strMonth = dayy.ToString("MMMM");
            string dayd = dayy.DayOfWeek.ToString();
            <div class="ticket" @*href="~/Tomoca/Tickets?daysd=@dm1"*@>
                <div class="item-day item-daynow">
                    <span class="day-big" id="ngayto">@strday</span><br>
                    <span class="day-small">@strMonth</span>
                </div>
                <div class="item-day-l">
                    @dayd
                </div>
            </div> }
        else
        {
            var dayy = DateTime.Today.AddDays(dm);
            string dayte = dayy.ToString("dd-MM-yyyy");
            string strday = dayy.ToString("dd");
            int daysd = int.Parse(dayy.ToString("ddMM"));
            string strMonth = dayy.ToString("MMMM");
            string dayd = dayy.DayOfWeek.ToString();
            <div class="ticket" @*href="~/Tomoca/Tickets?daysd=@dm1"*@>
                <div class="item-day">
                    <span class="day-big" id="ngayto">@strday</span><br>
                    <span class="day-small">@strMonth</span>
                </div>
                <div class="item-day-l">
                    @dayd
                </div>
            </div>
        }
        dm++;
        dm1++;
    }
</div>
<div class="nowplaying">
    <div class="nowplaying-count">
        <p class="ccc">NOWPLAYING (@Model.Count())<span style="color:#5C5C5C; margin-left: 20px;">UPCOMING</span></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">
            <div class="MultiCarousel-inner">
                @foreach (var item in Model)
                {
                <div class="item">
                    <div class="pad15" style="margin-top:30px;">
                        <img class="clickdeto" id="hinhphim" style="width: 100%; height: 100%;" src="@item.Movy.Image" />
                    </div>
                    <div class="pad151 font-pad">
                        @item.Movy.Title
                    </div>
                    <div class="pad152 font-pad">
                        <span id="tieudephim" style="color: #434343; font-size: 16px; font-weight: bold;">@item.Movy.Title</span><br>
                        @{var idloai = db.MoviesGenres.Where(x => x.MovieID == item.MovieID);
                            List<string> lstg = new List<string>();
                            Genre g = new Genre();
                            foreach (var i in idloai)
                            {
                                Genre temp = db.Genres.SingleOrDefault(x => x.GenreID == i.GenreID);
                                string tam = temp.GenreName;
                                lstg.Add(tam);
                            }
                        }
                        <span hidden id="malid">@item.MalID</span>
                        <span hidden id="thoigianotren">@item.Time</span>
                        <span hidden id="tenrapotren">@item.MovieTheater.TheaterName</span>
                        <span id="theloaiphim">
                            @for (int i = 0; i < lstg.Count(); i++)
                            {
                                <span>@lstg[i].ToString(), </span>
                            }
                        </span><br>
                        <span><img src="~/Content/image/clock.png" /> <span id="thoigianphim">@item.Movy.TimeOfFilm</span></span>

                    </div>
                </div>
            }
            </div>
            <button class="btn2 leftLst"><</button>
            <button class="btn2 rightLst">></button>
        </div>
    </div>
</div>


<div class="content-bookticket">
    <div class="bookticket-first" style="padding-top: 1px;">
        <p class="choose-your-seat">1. Choose your theater</p>
        <button style="margin-left: 40px; border-radius: 5px; background: #FF7300; height: 36px; width: 130px; border: none; "><a style="color: white;" href="~/Tomoca/Tickets">Choose again</a></button>
    </div>
    <div class="bookticket-first" style="padding-top: 1px; margin-top:0px;">
        <p class="choose-your-seat">2. Select a movie time</p>
        <span id="thoigiandechon" style="margin-left:40px; border-radius:5px; background:#5C5C5C; padding:10px 40px; color:white; font-weight:bold" class="thoigianbatdau">0:00</span>
    </div>
</div>
<div onload="onLoaderFunc()">
    <div class="zone3">
        <p class="choose-your-seat">3. Number of seats</p>
        <div class="num-grid">
            <div class="movie-inf">
                <table class="inf-table">
                    <tr>
                        <td class="img-zone3" style="width: 134px; text-align: center;">
                            <img id="hinhtrongo" class="movie-img" src="~/Content/image/Rectangle 25.png" alt="">
                        </td>
                        <td class="inf-zone3" style="width: 285px; line-height: 3px; ">
                            <p class="movie-name" id="tenphimtrongo">A QUIET PLACE PART II</p>
                            <p id="theloaiphimtrongo" style="margin-top: 20px; " class="movie-type">Horror, Sci-Fi, Drama</pstyle="margin:>
                            <p id="thoigianphimtrongo" style="margin-top: 20px; " class="movie-length">1hrs 23m</p>
                            <p id="thoigianoduoi" style="margin-top: 20px; " class="movie-day">Tuesday, Jun 30 at 1:30 AM</p>
                            <p id="rapphimoduoi" style="margin-top: 20px; " class="movie-place">CGV Aeon Bình Tân theater, Auditorium 5</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="soghe">
                <form class="vevip">
                    <p class="loaighe">V.I.P</p>
                    <span class="vip" id="vip">150 000</span>
                    <div style="margin-left: 55%;" class="value-button truvip" id="decrease" onclick="decreaseValue(); viptru()" value="Decrease Value">-</div>
                    <input type="number" id="number" value="0" />
                    <div class="value-button congvip" id="increase" onclick="increaseValue(); vipcong()" value="Increase Value">+</div>
                </form>
                <hr class="hr-xam">
                <form class="venormal">
                    <p class="loaighe">Normal</p>
                    <span class="thuong" id="thuong">100 000</span>
                    <div style="margin-left: 55%;" class="value-button truthuong" id="decrease" onclick="decreaseValue2(); thuongtru()" value="Decrease Value">-</div>
                    <input type="number" id="number2" value="0" />
                    <div class="value-button congthuong" id="increase" onclick="increaseValue2(); thuongcong()" value="Increase Value">+</div>
                </form>
                <hr class="hr-xam">
                <span style="font-size: 18px; font-weight: 700;">Total</span>
                <input style="margin-left: 57%; margin-bottom: 15px;" type="number" class="tongtien" id="tongtien" value="0"></input>
            </div>
        </div>
    </div>
    <!-- Choose your seat -->
    <div class="zone3" style="padding:-20px 0 40px 0; margin-top: -20px;" >
        <div class="inputForm">
            <center>
                <div style="display: none;" class="tongsoghe">
                    Number of Seats *: <input type="number" id="Numseats" value="0" required>
                </div>
                <br /><br />
                @using (Html.BeginForm("choose", "Tomoca", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input hidden name="idmal" id="idmal" value="" />
                    <input hidden name="tongtientien" id="tongtientien" value="" />
                    <input hidden name="chonghethuong" id="chonghethuong" value="" />
                    <input hidden name="chonghevip" id="chonghevip" value="" />
                    <input style="margin-bottom:50px;" class="selecting" type="submit" value="Start Choose Chair" />
                }
            </center>
        </div>
    </div>
</div>
<div style="margin: 0 auto; text-align: center; width: 250px; padding: 150px 0 50px 0">
    <img src="~/Content/image/Group 87.png" />
</div>
<!--end content Html.Partial("login")-->
@Html.Partial("Login")

<script>
    const d = new Date();
    @day = d.getDate();
</script>
