@model IEnumerable<TomocaMoviesWebsite.Models.MiAnLien>
@using TomocaMoviesWebsite.Models
@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/Tomoca_Layout.cshtml";
    TomocaMoviesDataContext db = new TomocaMoviesDataContext();
    int Day = DateTime.Now.Day;
    var listMoviesDay = db.MiAnLiens.Where(x => x.MovieID > Day);
    var lstcity = ViewData["lstcity"] as IList<City>;   
}
@section css{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/choose-seats.css" rel="stylesheet" />
    <link href="~/Content/tiecketsieucapvippro.css" rel="stylesheet" />
}
<style>
    body {
        background-color: #E5E5E5;
    }
</style>
@section scriptstren{
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}
@section scriptsduoi{
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ticket.js"></script>
    <script src="~/Scripts/loginsignup.js"></script>
    <script src="~/Scripts/choose-seats.js"></script>
}
<style>
    .textboxx {
        display: none;
    }

    .ticket:hover {
        text-decoration: none;
    }
</style>
@{
    DateTime d = DateTime.Now;
    var month = DateTime.Now.ToString("MMMM");
    var day = d.Day;
    var dm = 0;
    var dm1 = 0;
}
<div class="ticket-top ">
    @for (int i = 1; i < 12; i++)
    {
        if (i == 1)
        {
            var dayy = DateTime.Today.AddDays(dm);
            string dayte = dayy.ToString("dd-MM-yyyy");
            string strday = dayy.ToString("dd");
            int daysd = int.Parse(dayy.ToString("ddMM"));
            string strMonth = dayy.ToString("MMMM");
            string dayd = dayy.DayOfWeek.ToString();
            <div class="ticket animate__animated animate__fadeInRightBig" @*href="~/Tomoca/Tickets?daysd=@dm1"*@>
                <div class="item-day item-daynow">
                    <span class="day-big" id="ngayto">@strday</span><br>
                    <span class="day-small">@strMonth</span>
                </div>
                <div class="item-day-l">
                    @dayd
                </div>
            </div> }
        else
        {
            var dayy = DateTime.Today.AddDays(dm);
            string dayte = dayy.ToString("dd-MM-yyyy");
            string strday = dayy.ToString("dd");
            int daysd = int.Parse(dayy.ToString("ddMM"));
            string strMonth = dayy.ToString("MMMM");
            string dayd = dayy.DayOfWeek.ToString();
            <div class="ticket animate__animated animate__fadeInRightBig" @*href="~/Tomoca/Tickets?daysd=@dm1"*@>
                <div class="item-day">
                    <span class="day-big" id="ngayto">@strday</span><br>
                    <span class="day-small">@strMonth</span>
                </div>
                <div class="item-day-l">
                    @dayd
                </div>
            </div>
        }
        dm++;
        dm1++;
    }
</div>
<div class="nowplaying animate__animated animate__fadeInLeftBig">
    <div class="nowplaying-count">
        <p class="ccc">NOWPLAYING (@Model.Count())<span style="color:#5C5C5C; margin-left: 20px;">UPCOMING</span></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">
            <div class="MultiCarousel-inner">
                @foreach (var item in Model)
                {
                    <div class="item animate__animated animate__flipInX">
                        <div class="pad15" style="margin-top:30px;">
                            <img class="clickdeto" style="width: 100%; height: 100%; border-radius:5px;" src="@item.Movy.Image" />
                        </div>
                        <div class="pad151 font-pad">
                            @item.Movy.Title
                    </div>
                    <div class="pad152 font-pad">
                        <span style="color: #434343; font-size: 16px; font-weight: bold;">@item.Movy.Title</span><br>
                        @{var idloai = db.MoviesGenres.Where(x => x.MovieID == item.MovieID);
                            List<string> lstg = new List<string>();
                            Genre g = new Genre();
                            foreach (var i in idloai)
                            {
                                Genre temp = db.Genres.SingleOrDefault(x => x.GenreID == i.GenreID);
                                string tam = temp.GenreName;
                                lstg.Add(tam);
                            }
                        }
                        <span>
                            @for (int i = 0; i < lstg.Count(); i++)
                            {
                                <span>@lstg[i].ToString(), </span>
                            }
                        </span><br>
                        <span><img src="~/Content/image/clock.png" />@item.Movy.TimeOfFilm</span>
                    </div>
                </div>
            }
            </div>
            <button class="btn2 leftLst"><</button>
            <button class="btn2 rightLst">></button>
        </div>
    </div>
</div>


<div class="content-bookticket">
    <div class="bookticket-first" style="padding-top: 1px; height: 210px;">
        <p style="margin: 20px;">1. Choose your theater</p>
        <div style="display:grid; padding-left: 20px;">
            <div style="grid-column: 1;">
                <label>Theater</label><br />
                <select name="city" class="dropbtn bg-dropbtn" id="cacrap">
                    @foreach (var item in db.MovieTheaters)
                    {
                        <option style="background: white;" value="@item.TheaterID">@item.TheaterName</option>
                    }
                </select>
            </div>
            <div style="grid-column: 2;">
                <label>City</label><br />
                <select name="city" class="dropbtnn bg-dropbtn" id="thanhpho">
                    @{ var tempep = -1;}
                    @foreach (var item in ViewData["lstcity"] as List<City>)
                    {
                        if (item.CityID != tempep)
                        {
                            <option value="@item.CityID">@item.City1</option>
                            tempep = item.CityID;
                        }
                    }
                </select>
            </div>
        </div>
        @using (Html.BeginForm("TicketBook", "Tomoca", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="tenrap" value="1" id="tenrap" />
            <input type="hidden" name="luungay" value="99" id="luungay" />
            <input type="submit" id="choosing-ghe" value="Choosing Your Film" class="btn" style="margin-left: 42%; margin-top: 20px;" />
        }
    </div>
</div>
<div style="margin: 0 auto; text-align: center; width: 250px; padding: 150px 0 50px 0">
    <img src="~/Content/image/Group 87.png" />
</div>
<!--end content Html.Partial("login")-->
@Html.Partial("Login")

<script>
    const d = new Date();
    @day = d.getDate();
</script>