@model IEnumerable<TomocaMoviesWebsite.Models.Movy>
@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/Tomoca_Layout.cshtml";
}
@section css{
    <link href="~/Content/ticket.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/choose-seats.css" rel="stylesheet" />
}
<style>
    body {
        background-color: #E5E5E5;
    }
</style>
@section scriptstren{
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}
@section scriptsduoi{
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ticket.js"></script>
    <script src="~/Scripts/loginsignup.js"></script>
    <script src="~/Scripts/choose-seats.js"></script>
}
<style>
    .textboxx {
        display: none;
    }
</style>
@{
    DateTime d = DateTime.Now;
    var month = DateTime.Now.ToString("MMMM");
    var day = d.Day;
    var dm = 0;
}
<div class="ticket-top">
    @for (int i = 1; i < 12; i++)
    {
        var dayy = DateTime.Today.AddDays(dm);
        string dayte = dayy.ToString("MMddyyyy");
        @Html.TextBox("Checkday", dayte, new { @class = "textboxx" });
        string strDay = dayy.ToString("dd");
        string strMonth = dayy.ToString("MMMM");
        string dayd = dayy.DayOfWeek.ToString();
        <div class="ticket">
            <div class="item-day">
                <span class="day-big">@strDay</span><br>
                <span class="day-small">@strMonth</span>
            </div>
            <div class="item-day-l">
                @dayd
            </div>
        </div>
        dm++;
    }
</div>
<div class="nowplaying">
    <ul>
        <li class="crossn"></li>
        <li class="nowplaying-count">
            <p class="ccc">NOWPLAYING (@ViewData["Test"])<span style="color:#5C5C5C; margin-left: 20px;">UPCOMING</span></p>
        </li>
        <li class="crossn" style="width: 52%;"></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">
            <div class="MultiCarousel-inner">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <div class="pad15">
                            <img style="width: 100%; height: 100%;" src="@item.Image" />
                        </div>
                        <div class="pad151 font-pad">
                            @item.Title
                        </div>
                        <div class="pad152 font-pad">
                            <span style="color: #434343; font-size: 16px; font-weight: bold;">A QUIET PLACE PART II</span><br>
                            <span>Horror, Sci-Fi</span><br>
                            <span><img src="~/Content/image/clock.png" />1hrs 23m</span>
                        </div>
                    </div>
                }
            </div>
            <button class="btn2 leftLst"><</button>
            <button class="btn2 rightLst">></button>
        </div>
    </div>
</div>


<div class="content-bookticket">
    <div class="bookticket-first">
        <p>1. Choose your theater</p>
        <div style="display:flex">
            <div class="dropdown1">
                <div onclick="myDropdown()" class="dropbtn bg-dropbtn">
                    Click here to choose your theater
                    <span style="float: right;" onclick="myDropdown()" class="dropdown-toggle"></span>
                </div>
                <div id="myDropdown11" class="testtuong">
                    <a href="#"><img src="~/Content/image/Rectangle 209.png" alt=""></a><br>
                    <a href="#"><img src="~/Content/image/Rectangle 209.png" alt=""></a><br>
                    <a href="#"><img src="~/Content/image/Rectangle 209.png" alt=""></a><br>
                    <a href="#"><img src="~/Content/image/Rectangle 209.png" alt=""></a><br>
                </div>
                <div id="myDropdown1" class="dropdown-content">
                    <button class="dropdown-content-1 size-img-dropdown" onclick="baymavl()"><img src="~/Content/image/Rectangle 209.png" alt=""></button>
                    <button class="dropdown-content-1 size-img-dropdown" onclick="baymavl1()"><img src="~/Content/image/Rectangle 209.png" alt=""></button>
                    <a href="#" class="dropdown-content-2 size-img-dropdown"><img src="~/Content/image/Rectangle 209.png" alt=""></a>
                    <a href="#" class="dropdown-content-3 size-img-dropdown"><img src="~/Content/image/Rectangle 209.png" alt=""></a>
                    <a href="#" class="dropdown-content-4 size-img-dropdown"><img src="~/Content/image/Rectangle 209.png" alt=""></a>
                    <a href="#" class="dropdown-content-5 size-img-dropdown"><img src="~/Content/image/Rectangle 209.png" alt=""></a>
                </div>

            </div>
            <div class="dropdown">
                <div onclick="myFunctiondrop()" class="dropbtnn  bg-dropbtn">City<span style="float: right;" class="dropdown-toggle"></span></div>
                <div id="myDropdown2" class="dropdown-content2">
                    <a href="#home" class="size-img-dropdown2">Home</a>
                    <a href="#about" class="size-img-dropdown2">About</a>
                    <a href="#contact" class="size-img-dropdown2">Contact</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div onload="onLoaderFunc()">
    <div class="zone3">
        <p class="choose-your-seat">3. Number of seats</p>
        <div class="num-grid">
            <div class="movie-inf">
                <table class="inf-table">
                    <tr>
                        <td class="img-zone3">
                            <img class="movie-img" src="~/Content/image/Rectangle 25.png" alt="">
                        </td>
                        <td class="inf-zone3">
                            <p class="movie-name">A QUIET PLACE PART II</p>
                            <p class="movie-type">Horror, Sci-Fi, Drama</p>
                            <p class="movie-length">1hrs 23m</p>
                            <p class="movie-day">Tuesday, Jun 30 at 1:30 AM</p>
                            <p class="movie-place">CGV Aeon Bình Tân theater, Auditorium 5</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="soghe">
                <form class="vevip">
                    <p class="loaighe">V.I.P</p>
                    <span class="vip" id="vip">150 000</span>
                    <div style="margin-left: 55%;" class="value-button truvip" id="decrease" onclick="decreaseValue(); viptru()" value="Decrease Value">-</div>
                    <input type="number" id="number" value="0" />
                    <div class="value-button congvip" id="increase" onclick="increaseValue(); vipcong()" value="Increase Value">+</div>
                </form>
                <hr class="hr-xam">
                <form class="venormal">
                    <p class="loaighe">Normal</p>
                    <span class="thuong" id="thuong">100 000</span>
                    <div style="margin-left: 55%;" class="value-button truthuong" id="decrease" onclick="decreaseValue2(); thuongtru()" value="Decrease Value">-</div>
                    <input type="number" id="number2" value="0" />
                    <div class="value-button congthuong" id="increase" onclick="increaseValue2(); thuongcong()" value="Increase Value">+</div>
                </form>
                <hr class="hr-xam">
                <span>Total</span>
                <input style="margin-left: 60%;" type="number" class="tongtien" id="tongtien" value="0"></input>
            </div>
        </div>
    </div>
    <!-- Choose your seat -->
    <div class="zone3">
        <div class="inputForm">
            <center>
                <div style="display: none;" class="tongsoghe">
                    Number of Seats *: <input type="number" id="Numseats" value="0" required>
                </div>
                <br /><br />
                <button class="selecting" onclick="takeData()">Start Selecting</button>
            </center>
        </div>
        <p class="choose-your-seat">4. Choose your seat</p>
        <img class="screen" src="~/Content/image/Screen.png" alt="">


        <div class="seatStructure">
            <center>
                <table id="seatsBlock">

                    <tr>
                        <td>A</td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="A1"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="A2"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="A3"></td>
                        <td><input type="checkbox" class="seats" value="A4"></td>
                        <td><input type="checkbox" class="seats" value="A5"></td>
                        <td><input type="checkbox" class="seats" value="A6"></td>
                        <td><input type="checkbox" class="seats" value="A7"></td>
                        <td><input type="checkbox" class="seats" value="A8"></td>
                        <td><input type="checkbox" class="seats" value="A9"></td>
                        <td><input type="checkbox" class="seats" value="A10"></td>
                        <td><input type="checkbox" class="seats" value="A11"></td>
                        <td><input type="checkbox" class="seats" value="A12"></td>
                        <td><input type="checkbox" class="seats" value="A13"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="A14"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="A15"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="A16"></td>
                    </tr>

                    <tr>
                        <td>B</td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="B1"></td>
                        <td><input type="checkbox" class="seats" value="B2"></td>
                        <td><input type="checkbox" class="seats" value="B3"></td>
                        <td><input type="checkbox" class="seats" value="B4"></td>
                        <td><input type="checkbox" class="seats" value="B5"></td>
                        <td><input type="checkbox" class="seats" value="B6"></td>
                        <td><input type="checkbox" class="seats" value="B7"></td>
                        <td><input type="checkbox" class="seats" value="B8"></td>
                        <td><input type="checkbox" class="seats" value="B9"></td>
                        <td><input type="checkbox" class="seats" value="B10"></td>
                        <td><input type="checkbox" class="seats" value="B11"></td>
                        <td><input type="checkbox" class="seats" value="B12"></td>
                        <td><input type="checkbox" class="seats" value="B13"></td>
                        <td><input type="checkbox" class="seats" value="B14"></td>
                        <td><input type="checkbox" class="seats" value="B15"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="B16"></td>
                    </tr>

                    <tr class="seatVGap"></tr>

                    <tr>
                        <td>C</td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="C1"></td>
                        <td><input type="checkbox" class="seats" value="C2"></td>
                        <td><input type="checkbox" class="seats" value="C3"></td>
                        <td><input type="checkbox" class="seats" value="C4"></td>
                        <td><input type="checkbox" class="seats" value="C5"></td>
                        <td><input type="checkbox" class="seats" value="C6"></td>
                        <td><input type="checkbox" class="seats" value="C7"></td>
                        <td><input type="checkbox" class="seats" value="C8"></td>
                        <td><input type="checkbox" class="seats" value="C9"></td>
                        <td><input type="checkbox" class="seats" value="C10"></td>
                        <td><input type="checkbox" class="seats" value="C11"></td>
                        <td><input type="checkbox" class="seats" value="C12"></td>
                        <td><input type="checkbox" class="seats" value="C13"></td>
                        <td><input type="checkbox" class="seats" value="C14"></td>
                        <td><input type="checkbox" class="seats" value="C15"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="C16"></td>
                    </tr>

                    <tr>
                        <td>D</td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="D1"></td>
                        <td><input type="checkbox" class="seats" value="D2"></td>
                        <td><input type="checkbox" class="seats" value="D3"></td>
                        <td><input type="checkbox" class="seats" value="D4"></td>
                        <td><input type="checkbox" class="seats" value="D5"></td>
                        <td><input type="checkbox" class="seats-vip" value="D6"></td>
                        <td><input type="checkbox" class="seats-vip" value="D7"></td>
                        <td><input type="checkbox" class="seats-vip" value="D8"></td>
                        <td><input type="checkbox" class="seats-vip" value="D9"></td>
                        <td><input type="checkbox" class="seats-vip" value="D10"></td>
                        <td><input type="checkbox" class="seats-vip" value="D11"></td>
                        <td><input type="checkbox" class="seats" value="D12"></td>
                        <td><input type="checkbox" class="seats" value="D13"></td>
                        <td><input type="checkbox" class="seats" value="D14"></td>
                        <td><input type="checkbox" class="seats" value="D15"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="D16"></td>
                    </tr>

                    <tr>
                        <td>E</td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="E1"></td>
                        <td><input type="checkbox" class="seats" value="E2"></td>
                        <td><input type="checkbox" class="seats" value="E3"></td>
                        <td><input type="checkbox" class="seats" value="E4"></td>
                        <td><input type="checkbox" class="seats" value="E5"></td>
                        <td><input type="checkbox" class="seats-vip" value="E6"></td>
                        <td><input type="checkbox" class="seats-vip" value="E7"></td>
                        <td><input type="checkbox" class="seats-vip" value="E8"></td>
                        <td><input type="checkbox" class="seats-vip" value="E9"></td>
                        <td><input type="checkbox" class="seats-vip" value="E10"></td>
                        <td><input type="checkbox" class="seats-vip" value="E11"></td>
                        <td><input type="checkbox" class="seats" value="E12"></td>
                        <td><input type="checkbox" class="seats" value="E13"></td>
                        <td><input type="checkbox" class="seats" value="E14"></td>
                        <td><input type="checkbox" class="seats" value="E15"></td>
                        <td><input style="display: none;" type="checkbox" class="seats" value="E16"></td>
                    </tr>

                    <tr>
                        <td>F</td>
                        <td><input type="checkbox" class="seats" value="F1"></td>
                        <td><input type="checkbox" class="seats" value="F2"></td>
                        <td><input type="checkbox" class="seats" value="F3"></td>
                        <td><input type="checkbox" class="seats" value="F4"></td>
                        <td><input type="checkbox" class="seats" value="F5"></td>
                        <td><input type="checkbox" class="seats-vip" value="F6"></td>
                        <td><input type="checkbox" class="seats-vip" value="F7"></td>
                        <td><input type="checkbox" class="seats-vip" value="F8"></td>
                        <td><input type="checkbox" class="seats-vip" value="F9"></td>
                        <td><input type="checkbox" class="seats-vip" value="F10"></td>
                        <td><input type="checkbox" class="seats-vip" value="F11"></td>
                        <td><input type="checkbox" class="seats" value="F12"></td>
                        <td><input type="checkbox" class="seats" value="F13"></td>
                        <td><input type="checkbox" class="seats" value="F14"></td>
                        <td><input type="checkbox" class="seats" value="F15"></td>
                        <td><input type="checkbox" class="seats" value="F16"></td>
                    </tr>



                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                    </tr>
                </table>
            </center>
        </div>

        <!-- Seat info -->
        <div class="grid-seat">
            <div>
                <ul class="seats-inf">
                    <li class="li-inf">
                        <input type="checkbox" class="your-seat" id="your-seat">
                        <label class="textt" for="your-seat">Your seat</label>
                    </li>
                    <li class="li-inf">
                        <input style="cursor: auto;" type="checkbox" class="seats" id="available-seat">
                        <label class="textt" for="available-seat">Available</label>
                    </li>
                </ul>
                <ul class="seats-inf">
                    <li class="li-inf">
                        <input style="cursor: auto;" type="checkbox" class="seats-vip" id="seats-vip">
                        <label class="textt" for="seats-vip">V.I.P</label>
                    </li>
                    <li class="li-inf">
                        <input style="margin-left: 34px;" type="checkbox" class="unavailable-seat" id="unavailable-seat">
                        <label class="textt" for="unavailable-seat">Unavailable</label>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="ticket-confirm">
                    <li onclick="confirmTicket()" class="confirm1">
                        <p class="aa">Choose <span id="NumberDisplay">0</span> seat(s)</p>
                        <p class="bb">Auditorium 5</p>
                    </li>
                    <li onclick="confirmTicket()" class="confirm2">
                        <p class="cc">Next <img src="~/Content/image/Vector 2.png" alt=""></p>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </div>

        <!-- <div class="displayerBoxes">
            <center>
              <table class="Displaytable">
                <tr>
                    <th>Name</th>
                    <th>Seats</th>
                </tr>
                <tr>
                    <td><textarea id="nameDisplay"></textarea></td>
                    <td><textarea id="seatsDisplay"></textarea></td>
                </tr>
                </table>
            </center>
        </div> -->
        <form class="displayerBoxes" action="">

            <label for="lname">Seats</label>
            <textarea type="text" id="seatsDisplay"> </textarea>

            <!-- <input type="submit" value="Submit"> -->
        </form>
    </div>
</div>
<!--end content Html.Partial("login")-->
@Html.Partial("Login")

<script>
    const d = new Date();
    @day = d.getDate();
</script>