@model WebXemPhim.Models.TheLoai
@{
    ViewBag.Title = "ThemTheLoai";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}


<h2>Thêm Thể loaị</h2>

@using (Html.BeginForm("ThemTheLoai","DanhMuc",FormMethod.Post)) {
    @Html.ValidationSummary(true)
 <fieldset>
        <legend></legend>

        <div class="editor-field">
            <table>
                <tr>                 
                    <td style="width:125px"><b> Tên thể loại</b></td>
                    <td>@Html.TextBoxFor(model => model.TenTheLoai,new {@class="form-control"}) 
                        </td>
                        <td style="color:red">
                        @ViewData["Loi1"]   
                                  @ViewData["Loi2"]                      
                        </td>
                </tr>
            </table>
        </div>
        <p>
            <input type="submit" value="Thêm" class="btn btn-success" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Trở lại", "TheLoai","DanhMuc")
</div>



